<div class="page-header">
  <div class="container">
    <h1> Drilling Info</h1>
  </div>
</div>
<div class="container">
  <div class="mt-1 mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Start Point Column -->
      <ng-container matColumnDef="startPoint">
        <th mat-header-cell *matHeaderCellDef> Start Point </th>
        <td mat-cell *matCellDef="let element"> {{element.startPoint}} </td>
      </ng-container>

      <!-- End Point Column -->
      <ng-container matColumnDef="endPoint">
        <th mat-header-cell *matHeaderCellDef> End Point </th>
        <td mat-cell *matCellDef="let element"> {{element.endPoint}} </td>
      </ng-container>

      <!-- Envent Name Column -->
      <ng-container matColumnDef="eventName">
        <th mat-header-cell *matHeaderCellDef> Event Name </th>
        <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
<div>

  <div id='d2' style="position:absolute; top:550px; left:50px; z-index:2">
    <canvas #canvas style="border: 1px solid" width="500" height="900">
      Fallback content
    </canvas>
  </div>

</div>